<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="<%= theme.meta_theme_color %>">
<link href="https://fonts.googleapis.com/css?family=Fira+Code|Roboto&display=swap" rel="stylesheet">
<%- css(theme.hljs_theme) %>
<%- css("normalize.min.css") %>
<%- favicon_tag(theme.favicon) %>
<title><%= config.title %></title>
<%- css("styles.css") %>
<%- js("blog.js") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>